@media (min-width: 1000px) {

  body {
    margin: 0 auto;
  }

  #masthead {
    margin-bottom: 20px;
  }

  #masthead nav {
    margin-top: 20px;
  }

  #masthead nav a {
    display: inline-block;
    margin-right: 5%;
  }

  #masthead nav form {
    float: right;
  }

  #masthead nav input#search {
    padding: 2px 10px;
  }

  #masthead span {
    float: right;
  }

  main {
    float: left;
    width: 80%;
  }

  main a.newer-posts {
    float: left;
    margin: 0 0 5% 0;
  }

  main a.older-posts {
    float: right;
    margin: 0 0 5% 0;
  }

  main article {
    margin-bottom: 5%;
  }

  main article .gist {
    max-width: 1000px;
  }

  main article img {
    display: block;
    margin: 30px auto;
  }

  aside {
    float: right;
    width: 15%;
  }

  aside section:first-child h3 {
    margin: 0;
  }

}
