a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li code,
p code {
  background-color: #ddd;
  padding: 0.25rem;
  color: #333;
}

html {
  color: #444;
  font-family: verdana, sans-serif;
  line-height: 2;
  margin: 0 auto;
  padding: 0;
}

body {
  font-size: small;
  max-width: 1000px;
}

pre {
  background: #002b36;
  color: #839496;
  padding: 1rem;
}

#masthead h1 {
  border-bottom: 1px dotted gray;
  font-weight: normal;
  letter-spacing: 1px;
}

#masthead nav input#search {
  background-color: transparent;
  border: 1px solid silver;
}

#masthead span {
  font-size: x-small;
  letter-spacing: 1px;
}

main article h1 {
  font-weight: normal;
  margin: 0;
}

main article h2 {
  border-bottom: 1px dotted gray;
  font-weight: normal;
  font-size: large;
}

main article h3 {
  font-size: small;
}

main article h4 {
  color: silver;
  font-size: small;
}

main article hgroup time {
  color: #777;
  font-size: small;
}

main h1.context {
  font-weight: normal;
}

aside {
  font-size: x-small;
}

aside h3 {
  font-size: medium;
  font-weight: normal;
  margin: 2em 0 0 0;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
