      </main>

      <!-- sidebar -->
      <aside>
        <section class='categories'>
          <h3>Categories</h3>
          <ul>
            <% wit.categories.forEach(function(category) { %>
            <li><a href='/blog/category/<%= category %>'><%= category %></a></li>
            <% }); %>
          </ul>
        </section>

        <section class='tags'>
          <h3>Tags</h3>
          <ul>
            <% wit.tags.forEach(function(tag) { %>
            <li><a href='/blog/tag/<%= tag %>'><%= tag %></a></li>
            <% }); %>
          </ul>
        </section>

        <section class='archive'>
          <h3>Archive</h3>
          <ul>
            <li><a href='/blog/archive/2016'</a>2016</li>
            <li><a href='/blog/archive/2015'</a>2015</li>
            <li><a href='/blog/archive/2014'</a>2014</li>
          </ul>
        </section>
      </aside>

      <!-- @todo: put your Google Analytics code here -->

    </div>
  </body>
</html>
