<% if (nextPrev.previous) {%>
<a class='newer-posts' href='?p=<%= nextPrev.previous %>'>&laquo; Newer Posts</a>
<% } %>

<% if (nextPrev.next) {%>
<a class='older-posts' href='?p=<%= nextPrev.next %>'>Older Posts &raquo;</a>
<% } %>
