<% if (page.pagination.previous) {%>
<a class='newer-posts' href='?p=<%= page.pagination.previous %>'>&laquo; Newer Posts</a>
<% } %>

<% if (page.pagination.next) {%>
<a class='older-posts' href='?p=<%= page.pagination.next %>'>Older Posts &raquo;</a>
<% } %>
